<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="freelance, web, application, developer, ruby, rails, leeds, united kingdom, uk, paul horsfall" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds2.feedburner.com/deaddeadgood" />
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://phorsfall.myopenid.com/" />
  <link rel="openid2.local_id" href="http://phorsfall.myopenid.com" />
  <link rel="openid2.provider" href="http://www.myopenid.com/server" />
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=phorsfall.myopenid.com" />
  <link rel="stylesheet" href="/css/application.css" type="text/css" />
  <link rel="stylesheet" href="/css/content.css" type="text/css" />
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/local.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
</head>
<body>
<div id="container">
  <div id="header">
    <h1><span><a href="/">dead dead good</a></span></h1>
  </div>

  <div id="page">
    <div id="content">
      {{ content }}
    </div>

    <div id="sidebar">

      <div class="sidebar-node">
        <img src="/images/phorsfall.jpg" alt="Paul Horsfall" id="mugshot" />
      </div>

      <div class="sidebar-node">
        <h3>About</h3>
        <p>I'm Paul Horsfall, a freelance web developer specialising in
          <a href="http://www.ruby-lang.org/en/">Ruby</a> and
          <a href="http://www.rubyonrails.org/">Rails</a>. I live in Leeds in the UK.
        </p>
      </div>

      <div class="sidebar-node">
        <h3>Hire Me</h3>
        <p>
          Send me an email if you'd like to talk about how I can help with your project, I'd love to hear from you.
        </p>
        <p><span id="obfuscated-email-address">paul {a} deaddeadgood {doht} com</span></p>
        <script type="text/javascript">
          //<![CDATA[
          var e = document.getElementById("obfuscated-email-address");
          var mail = e.innerHTML.replace(/\s?\{a\}\s?/g, "@").replace(/\s?\{doht\}\s?/g, '.');
          e.innerHTML = "<a href='mailto:" + mail + "' class='email'>" + mail + "</a>";
          //]]>
        </script>
      </div>

      <div id="elsewhere" class="sidebar-node">
       <h3>Elsewhere</h3>
       <ul>
         <li><a href="http://nurphy.com/paul">nurphy</a></li>
         <li><a href="http://del.icio.us/phorsfall">del.icio.us</a></li>
         <li><a href="http://twitter.com/paulhorsfall">twitter</a></li>
         <li><a href="http://upcoming.yahoo.com/user/221336/">upcoming</a></li>
         <li><a href="http://www.workingwithrails.com/person/11861-paul-horsfall">working with rails</a></li>
         <li><a href="http://github.com/phorsfall">github</a></li>
       </ul>
      </div>

      <div class="sidebar-node badge">
        <a href="http://www.freeagentcentral.com/?referrer=2nsgm9yb" title="FreeAgent: money management and accounting for freelancers, contractors and consultants"><img src="/images/i-heart-fa-small.jpg" width="170" height="70" alt="FreeAgent sign-up" /></a>
      </div>

    </div>
    <br style="clear:both;" />
  </div>

  <div id="footer">
    <hr />
    <ul>
      <li>powered by <a href="http://github.com/mojombo/jekyll">Jekyll</a> /
          styled with <a href="http://quotedprintable.com/pages/scribbish">scribbish</a></li>
    </ul>
  </div>

</div>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-5424742-1");
  pageTracker._trackPageview();
</script>
</body>
</html>